* {
    box-sizing: border-box;
}

.checkout {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-header {
    grid-area: header;
    background-color: rgb(70, 39, 28);
    margin: 1px;
}

.checkout::before {
    content: url(https://btholt.github.io/complete-intro-to-web-dev-v3/images/coffee_masters_logo.png);
}

.items-prices {
    grid-area: items;
}

.order-name {
    grid-area: order-name;
}

.payment {
    grid-area: payment;
}

.totals-table {
    grid-area: totals-table;
}

.order-button {
    grid-area: order-button;
    width: 100%;
}

.page {
    display: grid;
    grid-template-areas:
    "header header header header"
    "items items order-name order-name"
    "items items payment payment"
    ". totals-table totals-table ."
    "order-button order-button order-button order-button";
}

.box {
    background: rgb(240, 204, 128);
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.box-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(158, 76, 21);
    text-align: left;
}

.totals-table {
    display: flex;
    justify-content: center;
}

.order-button {
    display: flex;
    justify-content: center;
}

.input {
    position: relative;
    display: inline-block;
}

.name-input {
    border-color:rgb(158, 76, 21);
    padding: 13px;
    border-radius: 14px;
    background-color:rgb(240, 204, 128);
    width: 100%
}

.input-label {
    background-color:rgb(240, 204, 128);
    color:rgb(158, 76, 21);
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.cvv-name{
    width: 40%;
}

.payment {
    display: grid;
    grid-template-rows: min-content;
}

.order-name {
    display: grid;
    grid-template-rows: max-content;
}

.item-name {
    grid-area: "item-name";
    font-size: larger;
    font-weight: 500;
}

.item-price {
    grid-area: "item-price";
    padding-left: 60px;
    font-weight: 500;
}

.item-quantity {
    grid-area: "item-quantity";
    padding: 10px;
    padding-top: 0;
    color: rgb(54, 47, 47);
}

.items-notes {
    grid-area: "item-notes";
    list-style:none;
    padding-left: 0%;
    color:rgb(158, 76, 21)
}

.item-description {
    grid-area: "item-description";
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0;
    height: 100px;
    width: 250px;

}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.totals-table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.totals-tally {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    width: 500px;
    justify-content:left;
}

.total {
    align-self: center;
    font-weight: 700;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

button {
    background-color:rgb(158, 76, 21);
    width: 700px;
    height: 40px;
    border-radius: 20px;
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}